// margin
@for $i from 1 through 5 {
    .margin#{$i}{
      margin: 5 * #{ $i}px;
    }
}

@for $i from 1 through 5 {
    .margin-y#{$i}{
      margin: 5 * #{ $i}px 0;
    }
}

@for $i from 1 through 5 {
    .margin-x#{$i}{
      margin: 0 5 * #{ $i}px;
    }
}

// padding
@for $i from 1 through 5 {
    .padding#{$i}{
      padding: 5 * #{ $i}px;
    }
}

@for $i from 1 through 5 {
    .padding-y#{$i}{
      padding: 5 * #{ $i}px 0;
    }
}

@for $i from 1 through 5 {
    .padding-x#{$i}{
      padding: 0 5 * #{ $i}px;
    }
}
// width
@for $i from 1 through 10 {
    .width-#{$i}{
      width: #{$i} * 10%;
    }
}

@for $i from 1 through 15 {
    .width-px#{$i}{
      width: #{$i} * 20px;
    }
}

// height
@for $i from 1 through 10 {
    .height-#{$i}{
      height: #{$i} * 10%;
    }
}

@for $i from 1 through 15{
    .height-px#{$i}{
      height: #{$i} * 20px;
    }
}

//flex

@mixin flex($justify, $align){
    display: flex;
    @if $justify == c && $align == c {
        justify-content: center;
        align-items: center;
    }
    @else{
        @error "working in progress";
    }
}